@model IEnumerable<Ewaste_Vs2022.Models.ProductSubCategory>
@{
    ViewData["Title"] = "AdminViewSubcategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Image and text -->
<nav class="navbar navbar-light bg-warning">
    <div class="container-fluid">
        <a class="navbar-brand" href="@Url.Action("AdminHome","Admin")">
            <img src="~/Template/assets/images/emp4.jpg" alt="" width="30" height="24" class="d-inline-block align-top">
            Ewaste
        </a>
    </div>
</nav>


<h2 class="p-1  bg-success  font-weight-normal text-white " style="margin-bottom:15px;">List of SubCategories For @TempData["catname"] Category</h2>
<div style="width:100%; margin-left:150px; margin-bottom:50px;">
    <div style="margin-top:15px; width:80%;">
        <a class="btn btn-primary" href="@Url.Action("AdminAddorEditSubCategory","Admin")" style="margin-top:15px; margin-left:10px; margin-bottom:10px; width:160px; color:white;"><i class="fa fa-plus"></i>&nbsp; Add New Sub Category</a>
        <table id="maincategoryDetails" class="display" style="width:100%">
            <thead>
                <tr>
                    <th hidden="hidden">SCid</th>
                    <th>SC Name</th>
                    <th>SC Image</th>                    
                    <th style="text-align:center;">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var sc in Model)
                {
                    <tr>
                        <td hidden="hidden">
                            @sc.SCid
                        </td>
                        <td>
                            @sc.SCname
                        </td>
                        <td>
                            @if (!string.IsNullOrWhiteSpace(sc.SCimage))
                            {
                                <img height="100" width="100" src="@Url.Content("~/" + sc.SCimage)" alt="No Image" />
                            }
                        </td>                        
                        <td style="text-align:center;">
                            <a class="btn btn-success btn-sm" style="width:80px;" href="@Url.Action("AdminAddorEditSubCategory","Admin", new { Scid = sc.SCid })"><i class='fa fa-pencil'></i> Edit</a>
                            <a class="btn btn-warning btn-sm" style="width:80px;" href="@Url.Action("AdminDeleteSubCategory", "Admin", new { Scid = sc.SCid })" onclick="return confirm('Are sure wants to delete?');"><i class='fa fa-trash'></i> Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<a class="btn btn-primary" id="backtomaincategory" href="@Url.Action("AdminViewMainCategory","Admin")" style="margin-top:15px; margin-left:10px; margin-bottom:10px; width:200px; color:white;">&nbsp; << Back to main category</a>

<script type="text/javascript">
    $(document).ready(function () {
        $('#maincategoryDetails').DataTable();
    });
</script>





